.w-90 {
  width: 90%;
}

.my-nav-div .my-nav {
  background-color: rgba(0, 0, 0, 0.9);
}

.my-nav .navbar-brand {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}
.my-nav .nav-link {
  color: white;
  font-weight: 600;
  letter-spacing: 0.4px;
  position: relative;
}
.my-nav .nav-link::before {
  content: "";
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid white;
  transition: all 0.3s linear;
}
.my-nav .active.nav-link::before {
  width: 70%;
}

.my-nav .nav-link:hover::before {
  width: 70%;
  background-color: tomato;
}

.my-nav .dropdown-menu {
  border-radius: 0;
}

.my-header {
  background-image: url(../DevFolio\ images/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.my-header .bg {
  background-color: rgba(0, 0, 0, 0.7);
}
h1 {
  font-weight: 600;
  font-size: 72px;
  text-wrap: wrap;
}
.my-header span {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}

.my-info p {
  font-weight: 600;
}

:is(.my-about-me, .my-form) h2::after {
  content: "";
  border-bottom: #0078ff solid 4px;
  width: 85px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.my-about-me p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.my-title span::after {
  content: "";
  border-bottom: #0078ff solid 4px;
  width: 40px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

:is(.my-services, .my-portfolio, .my-blog) .my-title h2 {
  font-weight: 700;
  font-size: 48px;
}
.my-services .card-body h3 {
  font-weight: 500;
  font-size: 22px;
}

.my-services .card-body i {
  font-size: 40px;
}

.my-services .card-body .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: #0078ff 10px solid;
  transition: all 0.5s;
}

.inner:hover .icon{
  color: white;
  background-color: #0078ff;
  border: #cde1f8 10px solid;
}

.my-numbers {
  height: 420px;
  background-image: url(../DevFolio\ images/post-3.jpg);
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
}

.my-numbers .items .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: #cde1f8 10px solid;
}

.my-portfolio .card-body span {
  font-size: 12px;
}
.my-portfolio .card-body .add {
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  bottom: 15px;
  text-decoration: none;
}
.my-portfolio .card img {
  transition: all 1s;
}
.my-portfolio .image {
  overflow: hidden;
}

.my-portfolio .card:hover img {
  scale: 1.2;
}

.my-slider .image {
  width: 150px;
  margin: auto;
}

.my-slider {
  height: 85vh;
  background-image: url(../DevFolio\ images/overlay-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.my-blog .my-work .list-group img {
  width: 30px;
  border-radius: 50%;
}

.my-blog .my-work :is(a, i, span) {
  color: #4e4e4e;
  text-decoration: none;
  transition: all 1s;
}
.blue-title {
  top: -15px;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 500;
}

.my-blog .my-work a:hover {
  color: #0078ff;
}

.my-form {
  background-image: url(../DevFolio\ images/overlay-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
ul, li{
  list-style-type: none;
  padding: 5px 0;
}
.my-form .icon{
  margin-right: 10px;
}

.my-form .links a:hover {
  color: white;
  background-color: #0078ff;
  border: #cde1f8 4px solid;
}

.my-form .links a{
  transition: all 0.5s;
  text-decoration: none;
  color: black;
  font-size: 20px;
  border: #0078ff 4px solid;
}

footer{
  background-color: #0062D3;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

footer p{
  width: 320px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  .my-header span {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  .my-numbers {
    height: 840px;
  }
}
